body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f8f9fa;
    color: #333;
}

h1 {
    text-align: center;
    color: #007bff;
    margin-bottom: 30px;
}
form{
    justify-content: space-between;
    display: flex;
}
.filters {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    justify-content: space-between;
    display: flex;
}


.filter-group {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.filter-group label {
    margin-bottom: 8px;
    font-weight: 600;
}

.filter-group select {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    width: 200px;
}

.filters button {
    background-color: #007bff;
    color: white;
    margin-top: 10px;
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filters button:hover {
    background-color: #0056b3;
}

.lendude-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.lennud-box {
    background-color: #fff;
    border: 1px solid #eee;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    flex: 1 0 300px;
}

.lennud-box:hover {
    transform: translateY(-5px);
}

.lennud-box a {
    text-decoration: none;
    color: #333;
    display: block;
}

.lennud-box p {
    margin-bottom: 12px;
    font-size: 16px;
}

.lennud-box strong {
    font-weight: 600;
}